@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Base & reset default css */
:root {
  /* Colors */
  --background-dark: #8d8e89;
  --background-light: #f4eff0;
  --body-text: #0b1419;
  --button: #f9de52;

  /* Fonts */
  --primary-font: "Montserrat";
  --secondary-font: "Roboto";

  --primary-color: #7562e0;
}

html {
  font-family: var(--primary-font);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

body {
  /* Set body background color == Wrapper background color */
  background-color: #1a1a29;
  /* overflow-y: hidden; */
}

/* Global class */
.wrapper {
  max-width: 1440px;

  background-color: #1a1a29;

  margin: 0 auto;
  padding: 32px 26px 26px 26px;

  position: relative;
}

/* Button */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-size: 12px;
  font-family: var(--primary-font);

  color: #0b1419;
  background-color: transparent;

  min-height: 46px;
  padding: 7px 20px;
  border-radius: 10px;
  border: 3px solid white;

  box-shadow: 0px 4px 4px 0px #00000040;
  outline: none;

  transition: all 0.25s linear;
}

.btn.btn-primary {
  background-color: var(--primary-color);

  /* SUB-HEAD */
  font-family: var(--primary-font);
  font-size: 1.6em;
  text-transform: uppercase;

  color: white;
}

/* Hover & active */
.btn:hover.btn-primary,
.btn.btn-primary.active {
  background-color: white;
  color: var(--primary-color);
  /* border-color: var(--primary-color); */
}

/* Footer */
.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1388px;
  min-height: 80px;

  background-color: #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

  /* For Mobile Responsive => Align text to center for better UI */
  text-align: center;
  padding: 16px 24px;
  /* End comment */
}

.footer-detail {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
}

/* Navigation button */
.nav-menu-wrapper {
  position: fixed;
  top: 39px;
  right: 10%;
  z-index: 5;
}

.nav-menu-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.nav-menu-img-hover:hover {
  opacity: 1;
}

/* Back */
.nav-back-wrapper {
  position: fixed;
  top: 45px;
  left: 10%;

  z-index: 5;
  display: inline-block;

  /* Because of different of picture size so back button must scale up a little bit */
  transform: scale(1.15);

  width: 100px;
  height: 100px;
}

.nav-back-wrapper > a {
  display: block;
  width: 100px;
  height: 100px;
}

.nav-back-img {
  width: 100%;
  height: 100%;
}

.nav-back-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  width: 100%;
  height: 100%;
}

.nav-back-img-hover:hover {
  opacity: 1;
}

.nav-close-img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.nav-holder {
  height: 190px;
}

.nav-menu-checkbox:checked ~ .nav-close-img-hover {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.visible-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.nav-menu-container {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;

  width: 255px;
  height: 224px;

  background-color: #d9d9d9;
  border-radius: 20px;

  padding-left: 35px;
  padding-top: 30px;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.nav-list-item-logo {
  /* margin-right: 10px; */
}

.nav-list-item-link {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;

  text-transform: capitalize;
  color: #000000;
}

/* Animation border left to right */
.border-anim-left-to-right {
  position: relative;
}

.border-anim-left-to-right:after {
  position: absolute;
  left: -5%;
  bottom: 0;

  content: "";
  display: block;
  transition: all ease-in-out 0.5s;
  background-color: var(--primary-color);
  height: 3px;
  width: 0;
}

.border-anim-left-to-right:hover:after {
  width: 100%;
}

.let-work-together-wrapper {
  display: block;
  max-width: 615px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.let-work-together-heading {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}

.let-work-together-wrapper:hover {
  animation: shake 0.5s ease infinite;
}

/* Animation */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .nav-back-wrapper {
    transform: scale(1);
  }

  .nav-menu-wrapper {
    transform: scale(calc(1 - 0.15));
  }
}

@media screen and (max-width: 768px) {
  .nav-back-wrapper {
    transform: scale(0.7);
    left: 10%;
  }

  .nav-menu-wrapper {
    transform: scale(calc(1 - 0.4));
    right: 10%;
  }

  .let-work-together-heading {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .let-work-together-heading {
    font-size: 30px;
  }

  .nav-back-wrapper {
    left: 1%;
  }

  .nav-menu-wrapper {
    right: 1%;
  }
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
}
